.root {
    -fx-background-color: linear-gradient(#0e0f12, #141416);
}
.title { -fx-text-fill: linear-gradient(#7fffd4,#9b59ff); }
.question { -fx-text-fill: #eaf6ff; }
.alt-text { -fx-text-fill: #d6f6ff; }
.progress { -fx-text-fill: #9bdaf1; }
.time-on-bar { -fx-text-fill: #000000; }
.primary { -fx-background-color: linear-gradient(#00a8ff,#0058ff); -fx-text-fill: #ffffff; }
.footer-text { -fx-text-fill: #00eaff; -fx-effect: dropshadow(gaussian, rgba(0,160,255,0.75), 12,0,0,2); }
.progress-bar > .bar { -fx-background-color: linear-gradient(#00ffc2,#7fffd4); }
