.root { -fx-background-color: linear-gradient(#f6f9fb,#e9f2f8); }
.title { -fx-text-fill: linear-gradient(#0058ff,#00a8ff); }
.question { -fx-text-fill: #0b2a43; }
.alt-text { -fx-text-fill: #0b2a43; }
.progress { -fx-text-fill: #0b2a43; }
.time-on-bar { -fx-text-fill: #000000; }
.primary { -fx-background-color: linear-gradient(#0066ff,#00a8ff); -fx-text-fill: #ffffff; }
.footer-text { -fx-text-fill: #0066cc; -fx-effect: dropshadow(gaussian, rgba(0,102,204,0.4), 8,0,0,1); }
.progress-bar > .bar { -fx-background-color: linear-gradient(#0058ff,#00a8ff); }
