.root { -fx-background-color: linear-gradient(#001018,#00131a); }
.title { -fx-text-fill: linear-gradient(#00eaff,#009dff); }
.question { -fx-text-fill: #bff9ff; }
.alt-text { -fx-text-fill: #bff9ff; }
.progress { -fx-text-fill: #bff9ff; }
.time-on-bar { -fx-text-fill: #000000; }
.primary { -fx-background-color: linear-gradient(#00eaff,#00ffc2); -fx-text-fill: #000000; }
.footer-text { -fx-text-fill: #00eaff; -fx-effect: dropshadow(gaussian, rgba(0,160,255,0.75), 12,0,0,2); }
.progress-bar > .bar { -fx-background-color: linear-gradient(#00eaff,#00ffc2); }
