.root { -fx-background-color: linear-gradient(#021f2f,#06354a); }
.title { -fx-text-fill: linear-gradient(#7fe9d6,#2bb7e1); }
.question { -fx-text-fill: #cfeff6; }
.alt-text { -fx-text-fill: #cfeff6; }
.progress { -fx-text-fill: #cfeff6; }
.time-on-bar { -fx-text-fill: #001f33; }
.primary { -fx-background-color: linear-gradient(#2bb7e1,#7fe9d6); -fx-text-fill: #001f33; }
.footer-text { -fx-text-fill: #7fe9d6; -fx-effect: dropshadow(gaussian, rgba(30,200,200,0.55), 10,0,0,2); }
.progress-bar > .bar { -fx-background-color: linear-gradient(#2bb7e1,#7fe9d6); }
